<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Jogo</title>
    <link href="/views/styles.css" rel="stylesheet">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    
</head>
<body class="bg-gray-100">
    <div class="w-3/5 mx-auto my-6 py-8 px-20 bg-white rounded-lg shadow-lg overflow-hidden">
        <div class="flex justify-between items-center mb-8">
            <span>
                <a href="/admin" class="p-2 mt-2 bg-gray-200 text-black rounded hover:underline">Voltar</a>
            </span>
            <h1 class="flex-1 text-2xl font-bold text-center">Adicionar Jogo</h1>
        </div>
    
        <form action="/admin/jogos/adicionar" method="POST" enctype="multipart/form-data">
            <!-- Imagem de Capa -->
            <div class="mb-4 flex justify-center">
                <div class="w-full max-w-xs mx-auto">
                    <label for="imagemCapa" class="block text-sm font-medium text-gray-700 text-center">Imagem de Capa</label>
                    <input type="file" id="imagemCapa" name="imagemCapa" class="p-2 mt-2 border rounded w-full" accept="image/*" required>
                </div>
            </div>                 
    
            <!-- Nome e Ano de Lançamento -->
            <div class="mb-4 flex">
                <div class="w-1/2 pr-2">
                    <label for="nome" class="block text-sm font-medium text-gray-700">Nome do Jogo</label>
                    <input type="text" id="nome" name="nome" class="w-full p-2 border rounded" required>
                </div>
                <div class="w-1/5 pl-2">
                    <label for="ano" class="block text-sm font-medium text-gray-700">Ano de Lançamento</label>
                    <input type="number" id="ano" name="ano" class="w-full p-2 border rounded" required>
                </div>
            </div>
    
            <!-- Plataforma, Categoria e Conhecimento -->
            <div class="mb-4 flex">
                <!-- Plataforma -->
                <div class="w-1/4 pr-2 md:w-1/2">
                    <label for="plataforma" class="block text-sm font-medium text-gray-700">Plataforma</label>
                    <select id="plataforma" class="w-full p-2 border rounded">
                        <option value="">Selecione uma Plataforma</option>
                        <% plataformas.forEach(plataforma => { %>
                            <option value="<%= plataforma.nome %>"><%= plataforma.nome %></option>
                        <% }) %>
                    </select>
                    <button type="button" onclick="addOptionField('plataforma', 'plataformas-container')" class="mt-2 p-2 bg-blue-500 text-white rounded">Incluir</button>
                    <input type="text" id="newPlataforma" class="w-full mt-2 p-2 border rounded" placeholder="Nova Plataforma">
                    <button type="button" onclick="addNewOption('plataforma', 'newPlataforma', 'plataformas-container')" class="mt-2 p-2 bg-green-500 text-white rounded">Inserir Nova Plataforma</button>
                    <div id="plataformas-container" class="mt-2"></div>
                </div>
    
                <!-- Categoria -->
                <div class="w-1/4 px-2 md:w-1/2">
                    <label for="categoria" class="block text-sm font-medium text-gray-700">Categoria</label>
                    <select id="categoria" class="w-full p-2 border rounded">
                        <option value="">Selecione uma Categoria</option>
                        <% categorias.forEach(categoria => { %>
                            <option value="<%= categoria.nome %>"><%= categoria.nome %></option>
                        <% }) %>
                    </select>
                    <button type="button" onclick="addOptionField('categoria', 'categorias-container')" class="mt-2 p-2 bg-blue-500 text-white rounded">Incluir</button>
                    <input type="text" id="newCategoria" class="w-full mt-2 p-2 border rounded" placeholder="Nova Categoria">
                    <button type="button" onclick="addNewOption('categoria', 'newCategoria', 'categorias-container')" class="mt-2 p-2 bg-green-500 text-white rounded">Inserir Nova Categoria</button>
                    <div id="categorias-container" class="mt-2"></div>
                </div>
    
                <!-- Conhecimento -->
                <div class="w-1/4 px-2 md:w-1/2">
                    <label for="conhecimento" class="block text-sm font-medium text-gray-700">Conhecimento</label>
                    <select id="conhecimento" class="w-full p-2 border rounded">
                        <option value="">Selecione um Conhecimento</option>
                        <% conhecimentos.forEach(conhecimento => { %>
                            <option value="<%= conhecimento.nome %>"><%= conhecimento.nome %></option>
                        <% }) %>
                    </select>
                    <button type="button" onclick="addOptionField('conhecimento', 'conhecimentos-container')" class="mt-2 p-2 bg-blue-500 text-white rounded">Incluir</button>
                    <input type="text" id="newConhecimento" class="w-full mt-2 p-2 border rounded" placeholder="Novo Conhecimento">
                    <button type="button" onclick="addNewOption('conhecimento', 'newConhecimento', 'conhecimentos-container')" class="mt-2 p-2 bg-green-500 text-white rounded">Inserir Novo Conhecimento</button>
                    <div id="conhecimentos-container" class="mt-2"></div>
                </div>

                <!-- Idioma -->
                <div class="w-1/4 pr-2 md:w-1/2">
                    <label for="idioma" class="block text-sm font-medium text-gray-700">Idioma</label>
                    <select id="idioma" class="w-full p-2 border rounded">
                        <option value="">Selecione um Idioma</option>
                        <% idiomas.forEach(idioma => { %>
                            <option value="<%= idioma.nome %>"><%= idioma.nome %></option>
                        <% }) %>
                    </select>
                    <button type="button" onclick="addOptionField('idioma', 'idiomas-container')" class="mt-2 p-2 bg-blue-500 text-white rounded">Incluir</button>
                    <input type="text" id="newIdioma" class="w-full mt-2 p-2 border rounded" placeholder="Novo Idioma">
                    <button type="button" onclick="addNewOption('idioma', 'newIdioma', 'idiomas-container')" class="mt-2 p-2 bg-green-500 text-white rounded">Inserir Novo Idioma</button>
                    <div id="idiomas-container" class="mt-2"></div>
                </div>
            </div>
    
            <!-- Descrição -->
            <div class="mb-4">
                <label for="descricao" class="block text-sm font-medium text-gray-700">Descrição</label>
                <textarea id="descricao" name="descricao" class="w-full p-2 border rounded" required oninput="autoResize(this)"></textarea>
            </div>
    
            <!-- Links Externos -->
            <div class="mb-4">
                <button type="button" onclick="addLinkField()" class="mb-2 p-2 bg-blue-500 text-white rounded">Adicionar Link Externo</button>
                <div id="link-fields" class="mb-4"></div>
            </div>
    
            <!-- Imagens -->
            <div class="mb-4">
                <button type="button" onclick="addImageField()" class="mb-2 p-2 bg-blue-500 text-white rounded">Adicionar Imagem</button>
                <div id="image-fields" class="flex flex-wrap justify-center"></div>
            </div>
    
            <!-- Botão de Salvar -->
            <div class="flex justify-center mt-4">
                <button type="submit" class="w-1/6 p-2 text-2xl font-bold text-white bg-green-500 rounded hover:underline">Salvar</button>
            </div>
        </form>
    </div>
    <script src="/utils.js"></script>
    <script src="/views/admin/admin.js"></script>
</body>
</html>
