<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= isEdit ? 'Editar' : 'Adicionar' %> Jogo</title>
    <link href="/dist/tailwind.css" rel="stylesheet">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body class="bg-gray-100">
    <div class="w-3/5 mx-auto my-6 py-8 px-20 bg-white rounded-lg shadow-lg overflow-hidden">
        <div class="flex justify-between items-center mb-8">
            <span>
                <a href="/admin?page=1&limit=20" class="px-4 py-2 mt-2 bg-gray-300 text-black rounded hover:underline">Voltar</a>
            </span>
            <h1 class="flex-1 text-2xl font-bold text-center"><%= isEdit ? 'Editar' : 'Adicionar' %> Jogo</h1>
        </div>
    
        <form action="<%= isEdit ? '/editar-jogo/' + jogo.slug : '/admin/jogos/adicionar' %>" method="POST" enctype="multipart/form-data">
            <!-- Imagem de Capa -->
            <div class="mb-4 flex justify-center">
                <div class="w-full max-w-xs mx-auto">
                    <label for="imagemCapa" class="block text-md font-medium text-gray-700 text-center">Imagem de Capa</label>
                    <% if (isEdit && jogo.imagens[0]) { %>
                        <div class="flex flex-col items-center mt-2 space-y-2">
                            <span class="py-1 px-3 bg-red-100 border border-transparent text-lg text-red-400 font-medium rounded">
                                Substituir Capa
                            </span>
                            <input type="file" id="imagemCapa" name="imagemCapa" class="p-2 border rounded" accept="image/*">
                            <img id="imagemCapaPreview" src="data:image/jpeg;base64,<%= jogo.imagens[0] %>" alt="Imagem de Capa" class="preview-image w-80 h-60 object-cover rounded mt-2 mx-auto">
                        </div>
                    <% } else { %>
                        <input type="file" id="imagemCapa" name="imagemCapa" class="p-2 mt-2 border rounded w-full" accept="image/*" required>
                    <% } %>
                </div>
            </div> 
            
            <!-- Nome e Ano de Lançamento -->
            <div class="mb-4 flex">
                <div class="w-1/2 pr-2">
                    <label for="nome" class="block text-md font-medium text-gray-700">Nome do Jogo</label>
                    <input type="text" id="nome" name="nome" class="w-full p-2 border rounded" value="<%= isEdit ? jogo.nome : '' %>" required>
                </div>
                <div class="w-1/5 pl-2">
                    <label for="ano" class="block text-md font-medium text-gray-700">Ano de Lançamento</label>
                    <input type="number" id="ano" name="ano" class="w-full p-2 border rounded" value="<%= isEdit ? jogo.ano : '' %>" required>
                </div>
            </div>
    
            <!-- Plataforma, Categoria e Conhecimento -->
            <div class="mb-4 flex">
                <!-- Plataforma -->
                <div class="w-1/4 pr-2 md:w-1/2">
                    <label for="plataforma" class="block text-md font-medium text-gray-700">Plataforma</label>
                    <select id="plataforma" class="w-full p-2 border rounded">
                        <option value="">Selecione uma Plataforma</option>
                        <% plataformas.forEach(plataforma => { %>
                            <option value="<%= plataforma.nome %>" <%= isEdit && jogo.plataforma.includes(plataforma.nome) ? 'selected' : '' %>><%= plataforma.nome %></option>
                        <% }) %>
                    </select>
                    <div class="text-right"><button type="button" onclick="addOptionField('plataforma', 'plataformas-container')" class="p-2 mt-2 bg-blue-500 text-white rounded">Incluir</button></div>
                    
                    <input type="text" id="newPlataforma" class="w-full p-2 mt-2 border rounded" placeholder="Nova Plataforma">
                    <div class="text-right"><button type="button" onclick="addNewOption('plataforma', 'newPlataforma', 'plataformas-container')" class="p-2 mt-2 bg-green-500 text-white rounded">Criar</button></div>
                    <div id="plataformas-container" class="mt-2">
                        <% if(isEdit) {
                            jogo.plataforma.forEach(plataforma => { %>
                            <div class="flex items-center mt-2">
                                <input type="text" value="<%= plataforma %>" class="w-full p-2 border rounded" readonly>
                                <button type="button" class="px-3 py-1 ml-2 bg-red-500 text-white font-bold rounded" onclick="removeItem('plataformas-container', this.parentNode, '<%= plataforma %>')">X</button>
                            </div>
                        <% })} %>
                    </div>
                    <input type="hidden" id="removedPlataformas" name="removedPlataformas" value="">
                </div>

                <!-- Categoria -->
                <div class="w-1/4 px-2 md:w-1/2">
                    <label for="categoria" class="block text-md font-medium text-gray-700">Categoria</label>
                    <select id="categoria" class="w-full p-2 border rounded">
                        <option value="">Selecione uma Categoria</option>
                        <% categorias.forEach(categoria => { %>
                            <option value="<%= categoria.nome %>" <%= isEdit && jogo.categoria.includes(categoria.nome) ? 'selected' : '' %>><%= categoria.nome %></option>
                        <% }) %>
                    </select>
                    <div class="text-right"><button type="button" onclick="addOptionField('categoria', 'categorias-container')" class="p-2 mt-2 bg-blue-500 text-white rounded">Incluir</button></div>
                    <input type="text" id="newCategoria" class="w-full p-2 mt-2 border rounded" placeholder="Nova Categoria">
                    <div class="text-right"><button type="button" onclick="addNewOption('categoria', 'newCategoria', 'categorias-container')" class="p-2 mt-2 bg-green-500 text-white rounded">Criar</button></div>
                    <div id="categorias-container" class="mt-2">
                        <% if(isEdit) {
                            jogo.categoria.forEach(categoria => { %>
                            <div class="flex items-center mt-2">
                                <input type="text" value="<%= categoria %>" class="w-full p-2 border rounded" readonly>
                                <button type="button" class="px-3 py-1 ml-2 bg-red-500 text-white font-bold rounded" onclick="removeItem('categorias-container', this.parentNode, '<%= categoria %>')">X</button>
                            </div>
                        <% })} %>
                    </div>
                    <input type="hidden" id="removedCategorias" name="removedCategorias" value="">
                </div>
    
                <!-- Conhecimento -->
                <div class="w-1/4 px-2 md:w-1/2">
                    <label for="conhecimento" class="block text-md font-medium text-gray-700">Conhecimento</label>
                    <select id="conhecimento" class="w-full p-2 border rounded">
                        <option value="">Selecione um Conhecimento</option>
                        <% conhecimentos.forEach(conhecimento => { %>
                            <option value="<%= conhecimento.nome %>" <%= isEdit && jogo.conhecimento.includes(conhecimento.nome) ? 'selected' : '' %>><%= conhecimento.nome %></option>
                        <% }) %>
                    </select>
                    <div class="text-right"><button type="button" onclick="addOptionField('conhecimento', 'conhecimentos-container')" class="p-2 mt-2 bg-blue-500 text-white rounded">Incluir</button></div>
                    <input type="text" id="newConhecimento" class="w-full p-2 mt-2 border rounded" placeholder="Novo Conhecimento">
                    <div class="text-right"><button type="button" onclick="addNewOption('conhecimento', 'newConhecimento', 'conhecimentos-container')" class="p-2 mt-2 bg-green-500 text-white rounded">Criar</button></div>
                    <div id="conhecimentos-container" class="mt-2">
                        <%  if(isEdit) {
                            jogo.conhecimento.forEach(conhecimento => { %>
                            <div class="flex items-center mt-2">
                                <input type="text" value="<%= conhecimento %>" class="w-full p-2 border rounded" readonly>
                                <button type="button" class="px-3 py-1 ml-2 bg-red-500 text-white font-bold rounded" onclick="removeItem('conhecimentos-container', this.parentNode, '<%= conhecimento %>')">X</button>
                            </div>
                        <% })} %>
                    </div>
                    <input type="hidden" id="removedConhecimentos" name="removedConhecimentos" value="">
                </div>
    
                <!-- Idioma -->
                <div class="w-1/4 pr-2 md:w-1/2">
                    <label for="idioma" class="block text-md font-medium text-gray-700">Idioma</label>
                    <select id="idioma" class="w-full p-2 border rounded">
                        <option value="">Selecione um Idioma</option>
                        <% idiomas.forEach(idioma => { %>
                            <option value="<%= idioma.nome %>" <%= isEdit && jogo.idioma.includes(idioma.nome) ? 'selected' : '' %>><%= idioma.nome %></option>
                        <% }) %>
                    </select>
                    <div class="text-right"><button type="button" onclick="addOptionField('idioma', 'idiomas-container')" class="p-2 mt-2 bg-blue-500 text-white rounded">Incluir</button></div>
                    <input type="text" id="newIdioma" class="w-full p-2 mt-2 border rounded" placeholder="Novo Idioma">
                    <div class="text-right"><button type="button" onclick="addNewOption('idioma', 'newIdioma', 'idiomas-container')" class="p-2 mt-2 bg-green-500 text-right text-white rounded">Criar</button></div>
                    <div id="idiomas-container" class="mt-2">
                        <%  if(isEdit) {
                            jogo.idioma.forEach(idioma => { %>
                            <div class="flex items-center mt-2">
                                <input type="text" value="<%= idioma %>" class="w-full p-2 border rounded" readonly>
                                <button type="button" class="px-3 py-1 ml-2 bg-red-500 text-white font-bold rounded" onclick="removeItem('idiomas-container', this.parentNode, '<%= idioma %>')">X</button>
                            </div>
                        <% })} %>
                    </div>
                    <input type="hidden" id="removedIdiomas" name="removedIdiomas" value="">
                </div>
            </div>
            <hr>
            <!-- Descrição -->
            <div class="mb-4">
                <label for="descricao" class="block text-center my-2 text-md font-medium text-gray-700">Descrição</label>
                <textarea id="descricao" name="descricao" class="w-full p-2 border rounded" required oninput="autoResize(this)"><%= isEdit ? jogo.descricao : '' %></textarea>
            </div>
            <hr>

            <!-- Links Externos -->
            <div class="flex flex-col items-center mb-4">
                <label for="links-externos" class="block text-md my-2 font-medium text-gray-700">Links Externos</label>  
                <div id="link-fields" class="mb-4 my-2">
                    <% if(isEdit) {
                        jogo.links.forEach(link => { %>
                        <div class="flex items-center mb-2 mx-2 ">
                            <input type="text" name="linkTitle" value="<%= link.title %>" class="w-1/2 mr-2 p-2 border rounded" required>
                            <input type="url" name="linkURL" value="<%= link.url %>" class="w-1/2 mr-2 p-2 border rounded" required>
                            <button type="button" class="ml-2 px-3 py-1 font-bold text-white bg-red-500 rounded" onclick="removeItem('link-fields', this.parentNode, JSON.stringify({ title: '<%= link.title %>', url: '<%= link.url %>' }))">X</button>
                        </div>
                    <% })} %>
                </div>
                <button type="button" onclick="addLinkField()" class="mb-2 w-1/10 font-bold px-4 text-2xl py-1 bg-blue-500 text-white rounded">+</button>
                <input type="hidden" id="removedLinks" name="removedLinks" value="">
            </div>
            <hr>
            <!-- Imagens -->
            <div class="flex flex-col items-center mb-4">
                <label for="imagens" class="block text-md my-2 font-medium text-gray-700">Screenshots</label>
                <div id="image-fields" class="flex flex-wrap justify-center my-2">
                    <% if(isEdit) {
                        jogo.outrasImagens.forEach((imagem, index) => { %>
                        <div class="image-container flex items-center mb-2">
                            <img src="data:image/jpeg;base64,<%= imagem %>" alt="Imagem" class="w-80 h-60 object-cover rounded">
                            <button type="button" class="m-2 px-3 py-1 font-bold text-white bg-red-500 rounded" onclick="removeItem('image-fields', this.parentNode, '<%= imagem %>')">X</button>
                        </div>
                    <% })} %>
                </div>
                <button type="button" onclick="addImageField()" class="mb-2 w-1/10 font-bold px-4 text-2xl py-1 bg-blue-500 text-white rounded">+</button>
                <input type="hidden" id="removedImages" name="removedImages" value="">
            </div>

            <!-- Botão de Salvar -->
            <div class="flex justify-center mt-4">
                <button type="submit" class="w-1/ p-2 text-2xl font-bold text-white bg-green-500 rounded hover:underline"><%= isEdit ? 'Salvar' : 'Registrar' %></button>
            </div>
        </form>
    </div>
    <script src="/js/utils.js"></script>
    <script src="/js/admin.js"></script>
</body>
</html>
