<div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-6">
    <% jogos.forEach(function(jogo) { %>
        <div class="game-card max-w-xs bg-white shadow-lg rounded-lg overflow-hidden relative" 
                data-images='<%= JSON.stringify(jogo.imagens) %>'>
            <a href="/jogos/<%= jogo.slug %>">
                <div class="relative group game-card">
                    <img class="w-full h-48 object-cover" 
                            src="data:image/jpeg;base64,<%= jogo.imagens[0] %>" 
                            alt="<%= jogo.nome %>" 
                            id="game-image-<%= jogo.slug %>">
                </div>
                <div class="p-4">
                    <h2 class="text-lg font-bold"><%= jogo.nome %></h2>
                </div>
            </a>
        </div>
    <% }); %>   
</div>