<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Jogo</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
    <div class="bg-white w-3/5 mx-auto shadow-lg my-6 rounded-lg overflow-hidden py-8 px-20">
        <div class="flex justify-between items-center mb-8">
            <span><a href="/admin" class="hover:underline bg-gray-200 text-black p-2 rounded mt-2">Voltar</a></span>
            <h1 class="flex-1 text-center text-2xl font-bold">Editar Jogo</h1>
        </div>
        
        <form action="/editar-jogo/<%= jogo.slug %>" method="POST" enctype="multipart/form-data">
            <div class="mb-4 flex justify-center">
                <div class="w-full text-center">
                    <label for="imagemCapa" class="block text-xl font-medium text-gray-700">Imagem de Capa</label>
                    <div class="flex items-center justify-center mt-2 space-x-2">
                        <span class="text-lg text-red-400 bg-gray-50 font-medium border border-gray-300 rounded-md p-2">Substituir Capa</span>
                        <input type="file" id="imagemCapa" name="imagemCapa" class="border rounded p-2" accept="image/*">
                    </div>
                    <% if (jogo.imagens && jogo.imagens.length > 0) { %>
                        <img src="data:image/jpeg;base64,<%= jogo.imagens[0] %>" alt="Imagem de Capa" class="w-1/2 h-auto mt-4 rounded mx-auto">
                    <% } %>
                </div>
            </div>
            

            <div class="mb-4 flex">
                <div class="w-1/2 pr-2">
                    <label for="nome" class="block text-sm font-medium text-gray-700">Nome do Jogo</label>
                    <input type="text" id="nome" name="nome" class="border rounded p-2 w-full" value="<%= jogo.nome %>" required>
                </div>
                <div class="w-1/5 pl-2"> 
                    <label for="ano" class="block text-sm font-medium text-gray-700">Ano de Lançamento</label>
                    <input type="number" id="ano" name="ano" class="border rounded p-2 w-full" value="<%= jogo.ano %>" required>
                </div>
            </div>

            <!-- Plataforma, Categoria e Desenvolvedor -->
            <div class="mb-4 flex">
                <!-- Plataforma -->
                <div class="w-1/3 pr-2">
                    <label for="plataforma" class="block text-sm font-medium text-gray-700">Plataforma</label>
                    <select id="plataforma" class="border rounded p-2 w-full">
                        <option value="">Selecione uma Plataforma</option>
                        <% plataformas.forEach(plataforma => { %>
                            <option value="<%= plataforma.nome %>" <%= jogo.plataformas.includes(plataforma.nome) ? 'selected' : '' %>><%= plataforma.nome %></option>
                        <% }) %>
                    </select>
                    <button type="button" onclick="addOptionField('plataforma', 'plataformas-container')" class="bg-blue-500 text-white p-2 rounded mt-2">Incluir</button>
                    <input type="text" id="newPlataforma" class="border rounded p-2 w-full mt-2" placeholder="Nova Plataforma">
                    <button type="button" onclick="addNewOption('plataforma', 'newPlataforma', 'plataformas-container')" class="bg-green-500 text-white p-2 rounded mt-2">Inserir Nova Plataforma</button>
                    <div id="plataformas-container" class="mt-2">
                        <% jogo.plataformas.forEach(plataforma => { %>
                            <div class="flex items-center mt-2">
                                <input type="text" value="<%= plataforma %>" class="border rounded p-2 w-full" readonly>
                                <button type="button" class="bg-red-500 text-white font-bold rounded px-3 py-1 ml-2" onclick="removeItem('plataformas-container', this.parentNode, '<%= plataforma %>')">X</button>
                            </div>
                        <% }) %>
                    </div>
                    <input type="hidden" id="removedPlataformas" name="removedPlataformas" value="">
                </div>

                <!-- Categoria -->
                <div class="w-1/3 px-2">
                    <label for="categoria" class="block text-sm font-medium text-gray-700">Categoria</label>
                    <select id="categoria" class="border rounded p-2 w-full">
                        <option value="">Selecione uma Categoria</option>
                        <% categorias.forEach(categoria => { %>
                            <option value="<%= categoria.nome %>" <%= jogo.categorias.includes(categoria.nome) ? 'selected' : '' %>><%= categoria.nome %></option>
                        <% }) %>
                    </select>
                    <button type="button" onclick="addOptionField('categoria', 'categorias-container')" class="bg-blue-500 text-white p-2 rounded mt-2">Incluir</button>
                    <input type="text" id="newCategoria" class="border rounded p-2 w-full mt-2" placeholder="Nova Categoria">
                    <button type="button" onclick="addNewOption('categoria', 'newCategoria', 'categorias-container')" class="bg-green-500 text-white p-2 rounded mt-2">Inserir Nova Categoria</button>
                    <div id="categorias-container" class="mt-2">
                        <% jogo.categorias.forEach(categoria => { %>
                            <div class="flex items-center mt-2">
                                <input type="text" value="<%= categoria %>" class="border rounded p-2 w-full" readonly>
                                <button type="button" class="bg-red-500 text-white font-bold rounded px-3 py-1 ml-2" onclick="removeItem('categorias-container', this.parentNode, '<%= categoria %>')">X</button>
                            </div>
                        <% }) %>
                    </div>
                    <input type="hidden" id="removedCategorias" name="removedCategorias" value="">
                </div>

                <!-- Desenvolvedor -->
                <div class="w-1/3 pl-2">
                    <label for="desenvolvedor" class="block text-sm font-medium text-gray-700">Desenvolvedor</label>
                    <select id="desenvolvedor" class="border rounded p-2 w-full">
                        <option value="">Selecione um Desenvolvedor</option>
                        <% desenvolvedores.forEach(desenvolvedor => { %>
                            <option value="<%= desenvolvedor.nome %>" <%= jogo.desenvolvedores.includes(desenvolvedor.nome) ? 'selected' : '' %>><%= desenvolvedor.nome %></option>
                        <% }) %>
                    </select>
                    <button type="button" onclick="addOptionField('desenvolvedor', 'desenvolvedores-container')" class="bg-blue-500 text-white p-2 rounded mt-2">Incluir</button>
                    <input type="text" id="newDesenvolvedor" class="border rounded p-2 w-full mt-2" placeholder="Novo Desenvolvedor">
                    <button type="button" onclick="addNewOption('desenvolvedor', 'newDesenvolvedor', 'desenvolvedores-container')" class="bg-green-500 text-white p-2 rounded mt-2">Inserir Novo Desenvolvedor</button>
                    <div id="desenvolvedores-container" class="mt-2">
                        <% jogo.desenvolvedores.forEach(desenvolvedor => { %>
                            <div class="flex items-center mt-2">
                                <input type="text" value="<%= desenvolvedor %>" class="border rounded p-2 w-full" readonly>
                                <button type="button" class="bg-red-500 text-white font-bold rounded px-3 py-1 ml-2" onclick="removeItem('desenvolvedores-container', this.parentNode, '<%= desenvolvedor %>')">X</button>
                            </div>
                        <% }) %>
                    </div>
                    <input type="hidden" id="removedDesenvolvedores" name="removedDesenvolvedores" value="">
                </div>
            </div>

            <div class="mb-4">
                <label for="descricao" class="block text-sm font-medium text-gray-700">Descrição</label>
                <textarea id="descricao" name="descricao" class="border rounded p-2 w-full" required oninput="autoResize(this)"><%= jogo.descricao %></textarea>
            </div>         
            
            <div class="mb-4">
                <div id="link-fields" class="mb-4">
                    <label for="links-externos" class="block text-sm font-medium text-gray-700">Links Externos</label>  
                    <% jogo.links.forEach(link => { %>
                        <div class="flex items-center mb-2">
                            <input type="text" name="linkTitle" value="<%= link.title %>" class="border rounded p-2 w-1/2 mr-2" required>
                            <input type="url" name="linkURL" value="<%= link.url %>" class="border rounded p-2 w-1/2 mr-2" required>
                            <button type="button" class="bg-red-500 text-white font-bold rounded px-3 py-1 ml-2" onclick="removeItem('link-fields', this.parentNode, JSON.stringify({ title: '<%= link.title %>', url: '<%= link.url %>' }))">X</button>
                        </div>
                    <% }) %>
                </div>
                <input type="hidden" id="removedLinks" name="removedLinks" value="">
                <button type="button" onclick="addLinkField()" class="bg-blue-500 text-white p-2 rounded mb-2">Adicionar Link Externo</button>
            </div>
            
            <label for="imagens" class="block text-xl font-bold text-gray-700 text-center m-4">Screenshots</label>
            <div id="image-fields" class="flex flex-wrap justify-center">
                <% jogo.outrasImagens.forEach((imagem, index) => { %>
                    <div class="flex items-center mb-2 image-container">
                        <img src="data:image/jpeg;base64,<%= imagem %>" alt="Imagem" class="w-80 h-60 object-cover rounded">
                        <button type="button" class="bg-red-500 text-white font-bold rounded px-3 py-1 m-2" onclick="removeItem('image-fields', this.parentNode, '<%= imagem %>')">X</button>
                    </div>
                <% }) %>
            </div>
            <input type="hidden" id="removedImages" name="removedImages" value="">
            <button type="button" onclick="addImageField()" class="bg-blue-500 text-white p-2 rounded mb-2">Adicionar Imagem</button>
            
            
            
            
            
            <div class="flex justify-center mt-4">
                <button type="submit" class="bg-green-500 text-white p-2 rounded w-1/6 text-2xl font-bold hover:underline">Salvar</button>
            </div>
        </form>
    </div>
    <script src="/utils.js"></script>
</body>
</html>
