<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GamesHub</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="../src/styles.css" rel="stylesheet">
    <style>
        /* Adicionando a transição para hover */
        .game-card img {
            transition: opacity 0.5s ease-in-out;
        }

        .game-card:hover img {
            opacity: 0.7;
        }
    </style>
</head>
<body class="bg-gray-100">

    <header class="bg-gradient-to-r from-blue-800 to-blue-500 text-white p-6 text-center shadow-lg">
        <h1 class="text-3xl font-semibold"><a href="" class="hover:underline">Games Hub</a> 
            - Central de Jogos sobre Computação <a href="/admin" class="hover:underline">#</a></h1>
    </header>
    <div class="w-[65%] py-6 my-8 mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="flex flex-col items-center w-3/4 mb-6 p-4 mx-auto space-y-4">
            <div> <a href="" class="hover:underline"><img src="images/logo.png" alt="logo" class="w-48"></a>  </div> <!-- Logo -->
        
            <div class="w-1/2">
                <form action="/pesquisa" method="GET" class="flex">
                    <input type="text" id="pesquisa" name="pesquisa" placeholder="Pesquisar"
                        class= "w-full p-2 bg-gray-200 text-gray-700 rounded-md shadow-sm block">
                    <button class="ml-2 py-2 px-4 text-white font-bold bg-blue-500 hover:bg-blue-700 rounded">Buscar</button>
                </form>
            </div>
            
            <div class="flex space-x-4 items-center"> <!-- Campo de Filtro -->
                <div class="py-2 px-4 bg-gray-200 text-gray-700 rounded">
                    Filtrar por...
                </div>
                <form action="/filtrar" method="GET">
                    <button name="plataforma" value="plataforma" class="py-2 px-4 text-white font-bold bg-blue-500 hover:bg-blue-700 rounded">Plataforma</button>
                </form>
                <form action="/filtrar" method="GET">
                    <button name="categoria" value="categoria" class="py-2 px-4 text-white font-bold bg-green-500 hover:bg-green-700 rounded">Categoria</button>
                </form>
                <form action="/filtrar" method="GET">
                    <button name="desenvolvedor" value="desenvolvedor" class="py-2 px-4 text-white font-bold bg-red-500 hover:bg-red-700 rounded">Desenvolvedor</button>
                </form>
            </div>
        </div>
        
        <main class="w-4/5 p-4 mx-auto">
            <section class="mb-8">
                <h1 class="text-3xl text-center font-bold">Sobre o Projeto</h1>
                <hr class="my-2">
                <p class="flex justify-between text-gray-700 text-lg">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu felis malesuada, 
                    convallis eros quis, commodo quam. Mauris laoreet magna ipsum. Phasellus consequat dolor et 
                    lectus malesuada ullamcorper. Proin a pretium lacus, at ullamcorper lorem. Sed quis nibh ex. 
                    Vestibulum et rhoncus nulla. Integer dapibus faucibus tristique. Cras lacinia laoreet nibh in facilisis.
                    Curabitur non leo nec mauris posuere aliquam. Aenean ut vulputate libero. Sed nec volutpat nulla. Curabitur dapibus, dolor 
                    id ornare malesuada, lacus lorem rhoncus ligula, non varius urna nunc ac quam. Pellentesque accumsan lacus risus, 
                    ac vulputate neque luctus fringilla. Nunc finibus arcu purus, quis dapibus metus feugiat nec. Nullam lobortis interdum 
                    bibendum. Nam venenatis vel nisl quis blandit. Donec vitae vulputate neque, sit amet ornare quam. Aliquam efficitur 
                    tristique erat pretium iaculis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac 
                    turpis egestas. Pellentesque blandit lacinia lobortis. Nullam posuere nisi at placerat rhoncus. Lorem ipsum 
                    dolor sit amet, consectetur adipiscing elit. Ut quis velit sed nisl rhoncus tristique.
                    Cras vulputate nunc non mollis imperdiet. Nulla accumsan ultrices massa et pretium. Aliquam eu eros justo.
                    Maecenas ut pretium nunc, nec malesuada arcu. Donec condimentum aliquet nulla at facilisis. 
                    Duis sed commodo quam, vel facilisis diam. Praesent sit amet tortor sem.
                    Vestibulum efficitur nec justo sit amet porttitor. Praesent cursus ac enim vel pharetra. Duis et 
                    eleifend turpis. Sed suscipit erat at ipsum ullamcorper, a porta libero aliquet. Nunc elementum dui 
                    nec metus maximus commodo. Duis libero nunc, volutpat ut tempor eu, iaculis eget est. Nunc tristique 
                    nibh non nulla pharetra, nec feugiat nisi rutrum. Nullam mollis dolor ut velit varius, a scelerisque 
                    orci consequat. Duis lacinia justo vel suscipit suscipit. Morbi id nulla ut nulla vehicula ornare.
                    Donec sapien nulla, finibus a elementum sed, posuere mollis massa.
                    Nam mollis auctor auctor. Maecenas purus est, eleifend et euismod nec, ultrices faucibus lectus. 
                    Nunc tincidunt consectetur dolor at euismod. Proin dignissim, sem dignissim pretium auctor, leo lacus 
                    mattis dui, a volutpat nunc ex ac turpis. Vestibulum egestas neque pharetra orci tristique commodo ut suscipit 
                    lacus. Quisque interdum ipsum ante, nec luctus erat suscipit sit amet. Vestibulum ante ipsum primis in 
                    faucibus orci luctus et ultrices posuere cubilia curae; Aenean hendrerit dui lectus. Donec ut dolor rhoncus, 
                    condimentum libero ut, bibendum lorem.
                </p>
            </section>

            <section class="p-4 text-center"> <!-- Galeria de Jogos -->
                <h1 class="mb-4 text-2xl font-bold">Galeria de Jogos</h1>
                <div class="grid grid-cols-3 gap-4">
                    <% jogos.forEach(function(jogo) { %>
                        <div class="game-card max-w-xs bg-white shadow-lg rounded-lg overflow-hidden relative" 
                             data-images='<%= JSON.stringify(jogo.imagens) %>'>
                            <a href="/jogos/<%= jogo.slug %>">
                                <div class="relative group game-card">
                                    <img class="w-full h-48 object-cover" 
                                         src="data:image/jpeg;base64,<%= jogo.imagens[0] %>" 
                                         alt="<%= jogo.nome %>" 
                                         id="game-image-<%= jogo.slug %>">
                                </div>
                                <div class="p-4">
                                    <h2 class="text-lg font-bold"><%= jogo.nome %></h2>
                                </div>
                            </a>
                        </div>
                    <% }); %>   
                </div>
            </section>
        </main>
    </div>
    <footer class="p-4 text-white bg-gradient-to-r from-blue-800 to-blue-500">
        <div class="flex items-center w-[65%] mx-auto">
            <div class="flex items-center justify-center">
                <a href="/" class="hover:underline">
                    <img src="../images/logo.png" alt="logo" class="w-32">
                </a>
            </div>
    
            <div class="flex flex-col justify-between w-full ml-4">
                <div class="flex justify-between mt-4 mb-10">
                    <p>&copy; 2024 <a href="/" class="hover:underline">Games Hub</a>. Todos os direitos reservados.</p>
                    <div class="flex space-x-4">
                        <a href="/sobre" class="hover:underline">Sobre Nós</a>
                        <a href="/contato" class="hover:underline">Contato</a>
                        <a href="/politica-privacidade" class="hover:underline">Política de Privacidade</a>
                        <a href="https://www2.unifap.br/ccomputacao/" class="hover:underline">Site do Curso</a>
                    </div>
                </div>
    
                <div class="mt-4 text-center text-gray-200">
                    <p>Ciência da Computação | Universidade Federal do Amapá</p>
                    <p>Endereço: Rodovia Josmar Chaves Pinto - KM 02, 68903-419 - Macapá - AP</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="/utils.js"></script>
</body>
</html>
