<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GamesHub</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body class="bg-gray-100 flex flex-col min-h-screen">

    <%- include('partials/cabecalho') %>

    <main class="flex-grow w-3/4 mx-auto my-8 py-6 px-32 rounded-lg bg-white shadow-lg">
        <%- include('partials/central') %>

        <section class="p-4 text-center"> 
            <h1 class="mb-6 text-3xl font-semibold text-gray-800">Jogos filtrados por <%= tipoCaracteristica %> "<%=nomeCaracteristica%>"(<%=jogos.length%>) </h1>
            <% if (jogos.length === 0) { %>
                <a href="/" class="my-8 py-4 px-4 text-white font-bold bg-green-500 hover:bg-green-700 rounded inline-block">
                    Voltar ao Início
                </a>
            <% } %>
            <div class="grid grid-cols-3 gap-4">
                <% jogos.forEach(function(jogo) { %>
                    <div class="game-card max-w-xs bg-white shadow-lg rounded-lg overflow-hidden relative" 
                            data-images='<%= JSON.stringify(jogo.imagens) %>'>
                        <a href="/jogos/<%= jogo.slug %>">
                            <div class="relative group game-card">
                                <img class="w-full h-48 object-cover" 
                                        src="data:image/jpeg;base64,<%= jogo.imagens[0] %>" 
                                        alt="<%= jogo.nome %>" 
                                        id="game-image-<%= jogo.slug %>">
                            </div>
                            <div class="p-4">
                                <h2 class="text-lg font-bold"><%= jogo.nome %></h2>
                            </div>
                        </a>
                    </div>
                <% }); %>   
            </div>
        
        </section>
    </main>

    <%- include('partials/footer') %> 

    <script src="/utils.js"></script>
</body>
</html>
