<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduGames</title>
    <link href="/dist/tailwind.css" rel="stylesheet">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>

    <%- include('partials/cabecalho') %>

    <main>
        <%- include('partials/central') %>

        <section class="mt-2 pt-2 md:pt-4 md:mt-4 text-center"> 
            <h1 class="py-4 mb-6 text-2xl md:text-3xl font-semibold text-gray-800">Jogos filtrados por <%= tipoCaracteristica %> "<%=nomeCaracteristica%>"(<%=total%>) </h1>
            <% if (jogos.length === 0) { %>
                <a href="/" class="my-8 py-4 px-4 text-white font-bold bg-green-500 hover:bg-green-700 rounded inline-block">
                    Voltar ao Início
                </a>
            <% } %>
            <%- include('partials/game-card', { jogos: jogos }) %>
            <%- include('partials/paginacao', { rota: "filtrar/" + tipoCaracteristica + "/" + slugCaracteristica + "?", page: page, totalPages: totalPages, limit: limit }) %>
        </section>
    </main>

    <%- include('partials/footer') %> 

    <script src="/js/utils.js"></script>
</body>
</html>
