<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GamesHub - Todos os Jogos</title>
    <link href="/views/styles.css" rel="stylesheet">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <style>
        /* Adicionando a transição para hover */
        .game-card img {
            transition: opacity 0.5s ease-in-out;
        }

        .game-card:hover img {
            opacity: 0.7;
        }
    </style>
</head>
<body class="bg-gray-100 flex flex-col min-h-screen">
    <%- include('partials/cabecalho')%>
    <main class="flex-grow w-[65%] py-6 px-24 my-8 mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
        <%- include('partials/central') %>
        <section class="p-4 text-center">
            <h1 class="mb-4 text-2xl font-bold">Todos os Jogos</h1>
            <div class="grid grid-cols-3 gap-4">
                <% jogos.forEach(function(jogo) { %>
                    <div class="game-card max-w-xs bg-white shadow-lg rounded-lg overflow-hidden relative" 
                            data-images='<%= JSON.stringify(jogo.imagens) %>'>
                        <a href="/jogos/<%= jogo.slug %>">
                            <div class="relative group game-card">
                                <img class="w-full h-48 object-cover" 
                                        src="data:image/jpeg;base64,<%= jogo.imagens[0] %>" 
                                        alt="<%= jogo.nome %>" 
                                        id="game-image-<%= jogo.slug %>">
                            </div>
                            <div class="p-4">
                                <h2 class="text-lg font-bold"><%= jogo.nome %></h2>
                            </div>
                        </a>
                    </div>
                <% }); %>   
            </div>
            <div class="mt-6 flex justify-center space-x-4">
                <% if (page > 1) { %>
                    <a href="/jogos?page=<%= page - 1 %>&limit=9" 
                        class="py-2 px-4 bg-blue-700 text-white rounded hover:bg-blue-800">
                        Página Anterior
                    </a>
                <% } %>
                <% if (page < totalPages) { %>
                    <a href="/jogos?page=<%= page + 1 %>&limit=9" 
                        class="py-2 px-4 bg-blue-700 text-white rounded hover:bg-blue-800">
                        Próxima Página
                    </a>
                <% } %>
            </div>
        </section>
        
    </main>
    <%- include('partials/footer') %>
</body>
</html>
