<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GamesHub - Todos os Jogos</title>
    <link href="/views/styles.css" rel="stylesheet">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <style>
        /* Adicionando a transição para hover */
        .game-card img {
            transition: opacity 0.5s ease-in-out;
        }

        .game-card:hover img {
            opacity: 0.7;
        }
    </style>
</head>
<body class="bg-gray-100 flex flex-col min-h-screen">
    <%- include('partials/cabecalho')%>
    <main class="flex-grow w-[65%] py-6 px-24 my-8 mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
        <%- include('partials/central') %>
        <section class="p-4 text-center">
            <h1 class="mb-4 text-2xl font-bold">Todos os Jogos</h1>
            <%- include('partials/game-card', { jogos: jogos }) %>
            <%- include('partials/paginacao', { rota: "todos-jogos?", page: page, totalPages: totalPages }) %>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
